<div id="banner">
	<div class="bannerquote container">
	NYCs best source of Entrepreneurship, Startup and Technology events
	</div>
</div>

<div class="events container">
	<div class="event">
		<div class="event-inner">
			<div class="calendar">
				<div class="month">
					<h4 class="center"> December </h4>
				</div>
				<div class="day center">
					<h1>3</h1>
				</div>
			</div>
			<div class="title-description">
				<div class="title">
					<h1>#techdrinkup - Rooftop Party</h1>
				</div>
				<div class="short-description">
					<p>A party for NYC's brightest and savviest people in tech to get together at exclusive NYC venues and mingle over drinks and food.</p>
				</div>
			</div>
			<div class="time-price">
				<div class="time">
					<h3 class="center"> 7:00pm</h3>
				</div>
				<div class="price">
					<h3 class="center"> $20</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="event">
		<div class="event-inner">
			<div class="calendar">
				<div class="month">
					<h4 class="center"> December </h4>
				</div>
				<div class="day center">
					<h1>3</h1>
				</div>
			</div>
			<div class="title-description">
				<div class="title">
					<h1>#techdrinkup - Rooftop Party</h1>
				</div>
				<div class="short-description">
					<p>A party for NYC's brightest and savviest people in tech to get together at exclusive NYC venues and mingle over drinks and food.</p>
				</div>
			</div>
			<div class="time-price">
				<div class="time">
					<h3 class="center"> 7:00pm</h3>
				</div>
				<div class="price">
					<h3 class="center"> $20</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="event">
		<div class="event-inner">
			<div class="calendar">
				<div class="month">
					<h4 class="center"> December </h4>
				</div>
				<div class="day center">
					<h1>3</h1>
				</div>
			</div>
			<div class="title-description">
				<div class="title">
					<h1>#techdrinkup - Rooftop Party</h1>
				</div>
				<div class="short-description">
					<p>A party for NYC's brightest and savviest people in tech to get together at exclusive NYC venues and mingle over drinks and food.</p>
				</div>
			</div>
			<div class="time-price">
				<div class="time">
					<h3 class="center"> 7:00pm</h3>
				</div>
				<div class="price">
					<h3 class="center"> $20</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="event">
		<div class="event-inner">
			<div class="calendar">
				<div class="month">
					<h4 class="center"> December </h4>
				</div>
				<div class="day center">
					<h1>3</h1>
				</div>
			</div>
			<div class="title-description">
				<div class="title">
					<h1>#techdrinkup - Rooftop Party</h1>
				</div>
				<div class="short-description">
					<p>A party for NYC's brightest and savviest people in tech to get together at exclusive NYC venues and mingle over drinks and food.</p>
				</div>
			</div>
			<div class="time-price">
				<div class="time">
					<h3 class="center"> 7:00pm</h3>
				</div>
				<div class="price">
					<h3 class="center"> $20</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="event">
		<div class="event-inner">
			<div class="calendar">
				<div class="month">
					<h4 class="center"> December </h4>
				</div>
				<div class="day center">
					<h1>3</h1>
				</div>
			</div>
			<div class="title-description">
				<div class="title">
					<h1>#techdrinkup - Rooftop Party</h1>
				</div>
				<div class="short-description">
					<p>A party for NYC's brightest and savviest people in tech to get together at exclusive NYC venues and mingle over drinks and food.</p>
				</div>
			</div>
			<div class="time-price">
				<div class="time">
					<h3 class="center"> 7:00pm</h3>
				</div>
				<div class="price">
					<h3 class="center"> $20</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="event">
		<div class="event-inner">
			<div class="calendar">
				<div class="month">
					<h4 class="center"> December </h4>
				</div>
				<div class="day center">
					<h1>3</h1>
				</div>
			</div>
			<div class="title-description">
				<div class="title">
					<h1>#techdrinkup - Rooftop Party</h1>
				</div>
				<div class="short-description">
					<p>A party for NYC's brightest and savviest people in tech to get together at exclusive NYC venues and mingle over drinks and food.</p>
				</div>
			</div>
			<div class="time-price">
				<div class="time">
					<h3 class="center"> 7:00pm</h3>
				</div>
				<div class="price">
					<h3 class="center"> $20</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="event">
		<div class="event-inner">
			<div class="calendar">
				<div class="month">
					<h5 class="center"> December </h5>
				</div>
				<div class="day center">
					<h1>3</h1>
				</div>
			</div>
			<div class="title-description">
				<div class="title">
					<h1>#techdrinkup - Rooftop Party</h1>
				</div>
				<div class="short-description">
					<p>A party for NYC's brightest and savviest people in tech to get together at exclusive NYC venues and mingle over drinks and food.</p>
				</div>
			</div>
			<div class="time-price">
				<div class="time">
					<h3 class="center"> 7:00pm</h3>
				</div>
				<div class="price">
					<h3 class="center"> $20</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="event">
		<div class="event-inner">
			<div class="calendar">
				<div class="month">
					<h5 class="center"> December </h5>
				</div>
				<div class="day center">
					<h1>3</h1>
				</div>
			</div>
			<div class="title-description">
				<div class="title">
					<h1>#techdrinkup - Rooftop Party</h1>
				</div>
				<div class="short-description">
					<p>A party for NYC's brightest and savviest people in tech to get together at exclusive NYC venues and mingle over drinks and food.</p>
				</div>
			</div>
			<div class="time-price">
				<div class="time">
					<h3 class="center"> 7:00pm</h3>
				</div>
				<div class="price">
					<h3 class="center"> $20</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="event">
		<div class="event-inner">
			<div class="calendar">
				<div class="month">
					<h5 class="center"> December </h5>
				</div>
				<div class="day center">
					<h1>3</h1>
				</div>
			</div>
			<div class="title-description">
				<div class="title">
					<h1>#techdrinkup - Rooftop Party</h1>
				</div>
				<div class="short-description">
					<p>A party for NYC's brightest and savviest people in tech to get together at exclusive NYC venues and mingle over drinks and food.</p>
				</div>
			</div>
			<div class="time-price">
				<div class="time">
					<h3 class="center"> 7:00pm</h3>
				</div>
				<div class="price">
					<h3 class="center"> $20</h3>
				</div>
			</div>
		</div>
	</div>
</div>