@import "bootstrap";
/*********************
GENERAL
**********************/
.center{
	text-align: center;
}

/*********************
BODY
**********************/
#page{
	padding-top:40px;
}

/*********************
NAV
**********************/

#logo{
	float: left;
	margin-right: 10px;
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
}

#logo:hover{
	color: #fff;
	text-decoration: none;
}

/*********************
HOMEPAGE
**********************/
#banner{
	line-height: 60px;
	height: 300px;
	background-image: url('/assets/skyline.jpeg');
	border-bottom: solid;
}

.bannerquote{
	font-size: 4em;
	font-family: Georgia, serif;
	padding: 30px;
	font-size: 4em;
	text-align: center;
	color: white;
}
/*********************
EVENT
**********************/
.event{
	width: 100%;
	float: left;
	border-top: solid;
	border-width:1px;
}

.events:hover
{

	background-color: #F5F5F5;
}


.event-inner{
	float: left;
	margin: 10px;
}
.calendar{
	border: solid;
	float:left;

	height: 85px;
	width: 75px;
}

.month{
	border-bottom: solid;
	padding-top: 2px;
	color: black;
	height: 20px;
	width: 75px;
	background-color: gray;
	font-size: 1.7em;
}

.day{
	padding-top: 2px;
	color: black;
}

.title-description{
	float: left;
	margin-left:20px;
	width: 585px;
}

.events a:link{
	color: black;
}

.events a:visited{
	color:black;
}

.events a:hover{
	cursor: default;
	text-decoration: none;
	color: black;
}

.title{


}

.time-price{
	margin-left: 20px;

	float: left;
	height: 81px;
	width: 200px;
}
.time{
	width: 80px;
	float: left;
	height: 26px;
	border: solid;
	color: black;
}

.price{
	float:right;
	width: 80px;
	height: 26px;
	border: solid;
	color: black;
}

.short-description{
	height: 100%;
	padding-top: 10px;
	font-size:1.1em;

}

/*********************
EVENT PAGE
**********************/


.event-title{
	font-size: 3em;
	padding-top:50px;
	padding-bottom: 50px;
	line-height: 40px;
}

.when-box{
}
.when-left{
	float:left;
	width: 400px;
	font-size: 2em;

	padding-top: 20px;
	padding-bottom: 20px;
}

.when-date{
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

.export{
	float: left;
	padding-left:100px;

	padding-top: 20px;
	padding-bottom: 20px;
}

.where-box{
	border-top: solid;

}
.where-left{
	float:left;
	width: 400px;
	font-size: 2em;
	padding-top: 20px;
	padding-bottom: 20px;
}

.where-address{
	float: left;

	padding-top: 20px;
	padding-bottom: 20px;
}

.map{
	float: left;
	padding-left:100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.event-page{
	height: 900px;
}


.description-box{
	height: 200px;

}
.description-left{
	float:left;
	width: 400px;
	font-size: 2em;
	padding-top: 20px;
	padding-bottom: 20px;
}

.description-text{
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
}


/*********************
form
**********************/


body{
	font-family:"Times New Roman", Times, serif;
}

.event_link span {
width:100%;
height:100%;
position:absolute;
z-index:2;
top:0px;
left:0px;
 }

.tags{
	float:left;
	background-color:black;
	color: white;
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 3px;
}

textarea.short_description {
        height: 6em;
        width: 100%;
}

textarea.long_description {
        height: 20em;
        width: 100%;
}

input.title_input{
	width: 30em;
}

select{
	width: 10em;
}

.submit_button{
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}




